@media only screen and (max-width: 768px) {
  nav {
      flex-direction: column;
      align-items: center;
    }
  
  nav ul {
      flex-direction: column;
    }
  
  nav li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #111;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 25px;
  }
  
nav a:hover {
    background-color: #333;
  }

#intro {
    background-color: #111;
    color: white;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    margin: 20px auto;
    width: 70%;
}

#title {
    color: white;
    font-size: 30px;
}

#qoute {
    font-size: 15px;
}

.icon {
    width: 100px;
    height: 100px;
  }

#question {
    color: white;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    margin: 20px auto;
    width: 50%;
  }
  
#question img {
    width: 100%;
    border-radius: 50%;
  }
  
#contact-form {
    padding: 14px 16px;
    width: 50%;
    margin: auto;
    margin-top:20px;
    border-radius: 25px;
  }
  
#contact-form label {
    color: white;
  }
  
#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background-color: #111;
    color: white;
  }
  
#contact-form input[type="submit"] {
    background-color: #111;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 25px;
  }
  
#contact-form input[type="submit"]:hover {
    background-color: #555;
  }

video {
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

#top3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.image-col {
/*flex: 1;
  text-align: center;
  justify-content: center;
  flex-direction: column; */
width: 50%;
}

.button-col {
  /*   flex: 1;
    text-align: center;
    justify-content: center;
    flex-direction: column; */
  width: 50%;
  }

#image {
  width: 100%;

}
